h1 {
    color: palevioletred;
    width: 1000px;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    border: none;
    margin: 30px;
    padding: 15px;
}

.text {
    text-align: center;
}

ul {
    border: none;
    color: purple;
    width: 600px;
    font-size: 35px;
    margin-left: 100px;
}