div {
    box-sizing: border-box;
    background-color: gold;
    border: none;
    display: inline-block;
    font-family: 'Sanchez', serif;
    height: 180px;
    padding: 8px;
    margin: 15px;
    width: 280px;
}

.l-box {
    background-color: rgba(105, 104, 104, 0.9);
}